.section-card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin: 80px 0;
}
.slider-block{
    scroll-behavior: smooth;
    overflow-x: scroll;
    display: grid;
    grid-auto-columns: 50%;
    grid-auto-flow: column;
    padding-right: 10px;
    gap: 0 10px;
    padding-bottom: 80px;
}
.slider-block-item{
    scroll-behavior: smooth;
    overflow-x: scroll;
    display: grid;
    grid-auto-columns: 17%;
    grid-auto-flow: column;
    padding-right: 71px;
    gap: 0 10px;
}
.slider-block::-webkit-scrollbar, .slider-block-item::-webkit-scrollbar{
    width: 0;
}
.card-shadow{
    box-shadow: 4px 8px 24px rgba(45, 45, 45, 0.15);
}
.card{
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    position: relative;
    padding: 10px;
    background: var(--white-color);
}
.card .card-top{
    position: absolute;
    top:-50px;
    padding:5px;
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.card .card-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom:-70px;
    padding:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 10px;
    text-align: center;
}
.card-top .profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--grey-color);
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-body .review-card{
    display: flex;
    align-items: center;
    gap: 0 5px;
}
.card-body .card-thumbnail{
    display: flex;
    margin: auto;
    padding: 20px;
    width: 150px;
    height: 150px;
}
.card-description{
    display: flex;
    align-items: center;
}
.card-description .card-thumbnail{
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}
.review-card .rating i{
    color: var(--main-color);
}
.card-body .title-block{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}