h1,h2,h3,h4,h5,h6{
    margin:  0 !important;
}
.text-heading{
    font-weight: 700;
    text-transform: capitalize;

}
.text-title{
    font-weight: 700;
    text-transform: uppercase;
}
.text-subtitle{
    text-transform: capitalize;
    color: rgb(175, 173, 173);
}
.text-primary{
    color: var(--main-color);
}
.text-white{
    color: var(--white-color);
}
.text-small{
    font-size: 12px;
}