h1,h2,h3,h4,h5,h6{
    margin:  0 !important;
}
.text-title{
    font-weight: 700;
    text-transform: capitalize;
}
.text-subtitle{
    text-transform: capitalize;
    color: rgb(175, 173, 173);
}
.text-small{
    font-size: 12px;
}