@import url("./elements/button.css");
@import url("./elements/text.css");
@import url("./elements/layout.css");
@import url("./compoenents/navigation.css");
@import url("./compoenents/card.css");
:root{
    --main-color:#DB234C;
    --second-color:#FDDAE0;
    --white-color:#ffffff;
    --black-color:#2d2d2d;
    --grey-color:#D8D8D8;
}
hr{
    width: 100%;
    opacity: .1;
}
.wrap{
    width: 1140px;
    margin: 30px auto;
}
.grid{
    display: grid;
    gap: 20px;
    margin: 30px 0;
}
.flex{
    display: flex;
    gap: 10px;
}
.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.space-between{
    justify-content: space-between;
}
.two-column{
    grid-template-columns: 60% 1fr;
    
}
.column-right{
    grid-template-columns: 1fr 2fr;
    padding: 50px 0 20px 100px;
    align-items: center;
}
.three-column{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,2fr);
}
.three-column .item1{
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}
.four-column{
    grid-template-columns: repeat(4,1fr);
}
.full-section{
    width: 100%;
    background: url("../images/bg1.jpg") no-repeat;
    background-position: bottom left;
    background-color: var(--second-color);
    min-height: 300px;
}

.article .thumbnail{
    width: 100%;
    border-radius: 5px;
}
.article-top{
    position: relative;
}
.article-top span{
    position: absolute;
    background: var(--white-color);
    padding: 5px;
    border-top-left-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    top: 0;
    left: 0;
    text-transform: uppercase;
}
.review{
    align-items:center;
}
.ads--tag{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    background-color: var(--grey-color);
    border: 1px solid #ccc;
}
.ads--tag span{
    font-size: 24px;
    font-weight: 700;
}